<script lang="ts" setup>
import { computed } from 'vue'

const props = defineProps({
  modelValue: {
    type: Object,
    default: null
  },
  items: {
    type: Object,
    required: true,
    defualt: null
  },
  placeholder: {
    type: String,
    default: ''
  },
  label: {
    type: String,
    default: ''
  }
})

const emit = defineEmits(['update:modelValue'])

const query = computed({
  get: () => props.modelValue.value,
  set: (value) => emit('update:modelValue', value)
})

</script>

<template>
  <v-autocomplete
    v-model="query.value"
    :placeholder="props.placeholder"
    no-data-text="Нет данных"
    :items="props.items"
    :label="props.label"
    color="blue darken-3"
    variant="outlined"
    clearable
  />
</template>
