<script lang="ts" setup>
import { ref, toRaw, Ref } from 'vue'
import { useDisplay } from 'vuetify'
import type { QrCodeDataModel } from '@/types/qrcode/DataModel'

type Protocol = {
  _id: String,
  data: QrCodeDataModel,
  id: String,
  phone: String,
  uik_number: string,
}

type Filter = {
  uik_id: string,
  uik_number: string,
  date: string,
}

const { mobile } = useDisplay()

/** Протоколы голосования */
const protocols = ref<Protocol[]>([])

const start = ref(1)
const limit = ref(mobile.value ? 10 : 20)
const count = ref(0)
const filters = ref('')

/** Поля для фильтра */
const filter = ref({}) as Ref<Filter>
/** Флаг показа формы фильтра */
const isVisible = ref(false)

/** Аргументы строки запроса */
const queryParams = {
  sort: 'data.date::desc',
  start: start.value,
  limit: limit.value
}

const suffragia = import.meta.env.VITE_DOMAIN_API
const searchParams:URLSearchParams = new URLSearchParams(queryParams.toString())

/**
 * Осуществляет запрос на получение всех протоколов
 * @param {string} filter Строка фильтров
 */
const promiseProtocolsData = async (filter: string) => {
  const response = await fetch(`${suffragia}/api/v1/protocols?${filter}`, {
    method: 'GET',
    headers: { 'Content-Type': 'application/json', Accept: 'application/json' },
    mode: 'cors',
    cache: 'no-cache'
  })

  try {
    if (response.ok) {
      const json = await response.json()
      return json.data
    }
  } catch (err) {
    throw new Error(`ошибка получения тела ответа: ${err}`)
  }
}

/** Фильтрует протоколы */
const onFilter = (): void => {
  filters.value = Object.entries(toRaw(filter.value)).map((val) => {
    let result = ''
    if (val[1]) result = `data.${val[0]}::${val[1]}`
    return result
  }).join(',').replace(/^,|,$/g, '')

  paginatedBreakdown()
}

/** Формирует постраничную навигацию */
const paginatedBreakdown = (): void => {
  searchParams.set('start', start.value.toString())
  searchParams.set('limit', limit.value.toString())
  searchParams.set('filter', filters.value)

  promiseProtocolsData(searchParams.toString()).then(val => {
    count.value = val.pageCount
    protocols.value = val.models
  })
}

paginatedBreakdown()

/**
 * Формирует постраничную навигацию следующей страны
 * @param {number} value Номер страницы
 */
const nextPage = (value: number): void => {
  start.value = value
  paginatedBreakdown()
}

/** Определяет показывать ли форму фильтра */
const showFilters = (): void => {
  isVisible.value = !isVisible.value
}

// const candidatesUniq = new Set()

// Object.entries(protocolsData).map((val, key) => candidatesRating.push(protocolsData[key].candidate_rating))

// ratings.value = candidatesRating

// ratings.value.map(vars => vars.map(varm => candidatesUniq.add(varm[1])))

// candidates.value = [...candidatesUniq]

// const getRating = (candidateID) => {
//   let score = 0

//   for (const key in ratings.value) {
//     ratings.value[key].map(val => {
//       if (val[1] === candidateID) {
//         score = score + Number(val[2])
//       }

//       return true
//     })
//   }

//   return score
// }
</script>
<template>
  <v-container
    class="page text-center"
  >
    <v-row>
      <v-col
        cols="12"
        class="pl-3"
      >
        <v-btn
          class="float-left"
          prepend-icon="mdi-filter-menu"
          color="secondary-darken-1"
          @click="showFilters"
        >
          Фильтр
        </v-btn>
      </v-col>
    </v-row>

    <v-layout
      v-show="isVisible"
      class="pt-6"
    >
      <v-row
        class="d-flex"
      >
        <v-col
          cols="12"
          sm="6"
          md="6"
          lg="4"
          xl="4"
        >
          <v-text-field
            v-model="filter.uik_number"
            v-mask="`##########`"
            placeholder="1234567890"
            min="1"
            type="text"
            clearable
            label="Номер УИК"
            color="blue darken-3"
            variant="outlined"
          />
        </v-col>

        <v-col
          cols="12"
          sm="6"
          md="6"
          lg="4"
          xl="4"
        >
          <v-text-field
            v-model="filter.date"
            v-mask="`####-##-##`"
            placeholder="##.##.####"
            type="date"
            clearable
            color="blue darken-3"
            variant="outlined"
            label="Дата референдума"
          />
        </v-col>

        <v-col
          cols="12"
          sm="12"
          md="12"
          lg="4"
          xl="4"
        >
          <v-btn
            color="secondary-darken-1 float-left mb-3"
            height="56"
            type="submit"
            prepend-icon="mdi-text-box-search-outline"
            block
            @click.prevent="onFilter()"
          >
            Найти
          </v-btn>
        </v-col>
      </v-row>
    </v-layout>

    <v-row
      v-show="!count"
      class="mt-6"
    >
      <v-col
        class="mp-2"
      >
        <h2>
          Нет данных
        </h2>
      </v-col>
    </v-row>

    <v-row class="mt-6 ">
      <v-expansion-panels>
        <v-expansion-panel
          v-for="protocol in protocols"
          :key="protocol.id"
        >
          <v-expansion-panel-title>
            {{ protocol.data.date }}&nbsp;&mdash;&nbsp;УИК: {{ protocol.data.uik_number }}

            <v-row no-gutters>
              <v-col
                cols="10"
                class="d-flex justify-start"
              >
                &nbsp;
              </v-col>
              <v-col
                cols="2"
                class="text--secondary"
              >
                <v-row
                  no-gutters
                  style="width: 100%"
                >
                  <v-col

                    class="d-none d-sm-flex"
                    cols="12"
                    style="padding-left: 10%"
                  >
                    Кол-во
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-expansion-panel-title>
          <v-expansion-panel-text>
            <v-table
              fixed-header
              class="mt-4 mb-5"
            >
              <tbody>
                <tr class="text-left">
                  <td>
                    Число избирателей на момент окончания голосования
                  </td>
                  <td>{{ protocol.data.num_voters }}</td>
                </tr>
                <tr class="text-left">
                  <td>
                    Число бюллетеней, полученных УИК
                  </td>
                  <td>{{ protocol.data.num_ballots }}</td>
                </tr>
                <tr class="text-left">
                  <td>
                    Число бюллетеней для голосования досрочно
                  </td>
                  <td>{{ protocol.data.num_early_ballots }}</td>
                </tr>
                <tr class="text-left">
                  <td>
                    Число бюллетеней для голосования в помещении
                  </td>
                  <td>{{ protocol.data.num_ballots_indoor }}</td>
                </tr>
                <tr class="text-left">
                  <td>
                    Число бюллетеней для голосования вне помещения
                  </td>
                  <td>{{ protocol.data.num_ballots_outdoor }}</td>
                </tr>
                <tr class="text-left">
                  <td>
                    Число уничтоженных бюллетеней
                  </td>
                  <td>{{ protocol.data.num_destoy_ballots }}</td>
                </tr>
                <tr class="text-left">
                  <td>
                    Число бюллетеней в переносных ящиках
                  </td>
                  <td>{{ protocol.data.num_ballots_in_portable_boxes }}</td>
                </tr>
                <tr class="text-left">
                  <td>
                    Число бюллетеней в стационарных ящиках
                  </td>
                  <td>{{ protocol.data.num_ballots_in_boxes }}</td>
                </tr>
                <tr class="text-left">
                  <td>
                    Число недействительных бюллетеней
                  </td>
                  <td>{{ protocol.data.num_invalid_ballots }}</td>
                </tr>
                <tr class="text-left">
                  <td>
                    Число действительных бюллетеней
                  </td>
                  <td>{{ protocol.data.num_valid_ballots }}</td>
                </tr>
                <tr class="text-left">
                  <td>
                    Число утраченных бюллетеней
                  </td>
                  <td>{{ protocol.data.num_lost_ballots }}</td>
                </tr>
                <tr class="text-left">
                  <td>
                    Число неучтённых бюллетеней
                  </td>
                  <td>{{ protocol.data.num_unaccounted_ballots }}</td>
                </tr>
              </tbody>
              <tfoot class="text-left">
                <tr>
                  <td class="pt-8">
                    <strong>ФИО</strong>
                  </td>
                  <td class="pt-8">
                    <strong>Голоса</strong>
                  </td>
                </tr>
                <tr
                  v-for="(candidate, index) in protocol.data.candidate_list"
                  :key="index"
                >
                  <td>{{ candidate.item.fio }}
                    <div class="text-caption">
                      {{ candidate.item.namio }}
                    </div>
                  </td>
                  <td>{{ candidate.item.votes }}</td>
                </tr>
              </tfoot>
            </v-table>
          </v-expansion-panel-text>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>

    <v-container>
      <v-row>
        <v-col cols="12">
          <v-pagination
            v-if="count > 1"
            v-model="start"
            :length="count"
            class="mt-2"
            @click="nextPage(start)"
          />
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>
<style lang="scss">
input {
  outline: inherit;
}

.v-col span.v-btn__prepend {
  margin-inline-end: 10px;
}
</style>
