<script lang="ts" setup>
import QrCodeDataStream from '@/components/qrcode/DataStream.vue'
// import { useSubjectStore } from '@/stores/subjects'
import type { QrCodeDataModel, Candidate } from '@/types/qrcode/DataModel'
import { useQrcodeStore } from '@/stores/qrcode'
import AppAutomplete from '@/components/fields/AppAutocomplete.vue'
import { ref, Ref, toRaw } from 'vue'
import emitter from '@/plugins/mitt'
// import { RefTypes, RefValue } from 'vue/macros'

type Form = {
  data: QrCodeDataModel,
  phone: string,
}

const phone = ref('')

const uikNumber = ref('')

/** Форма */
const form: Form = {} as Form
/** Флаг показа сканера QR-кода */
const showQrcode = ref(false)
/** Флаг успешного сохранения данных формы */
const isSucsess = ref(false)
/** Хранилище данных QR-кода */
const qrcodeStore = useQrcodeStore()
/** Хранилище данных регионов РФ */
// const subjectStore = useSubjectStore()
/** Список доступных выборов */
const electionList = ref< { value: string, title: string }[] >([])
/** Список кандидатов */
const candidateList = ref< { item: Candidate }[] >([])
/** Флаг выбора региона */
// const isSelectedSubject = ref(false)
/** Флаг ввода номера УИК */
const isInsertedUik = ref(false)
/** Флаг получения кандидатов */
const isInsertedCandidates = ref(false)
/** Флаг выбора выборов */
const isSelectedElection = ref(false)
/** Флаг отсутсвия информации о кандидатах */
const missingDataCandidates = ref(false)
/** Идентификатор комиссии */
let vrnKomis: string = ''
/** Номер округа */
let numTvd: Promise<number>

/** @type {Object} Данные для автозаполнения регионов */
// const regions = {
//   model: ref({}),
//   items: toRaw(subjectStore.regions)
// }

/** @type {Object} Данные для автозаполнения выборов */
const elections = {
  model: ref({}),
  items: electionList.value,
  errors: ref([])
}

const candidates = {
  model: ref({}),
  items: candidateList,
  errors: ref([])
}

const suffragia = import.meta.env.VITE_DOMAIN_API

// function onSelectSubject (value) {
//   isSelectedSubject.value = true
// }

const onSelectedUik = (value) => {
  // const subjectId = toRaw(regions.model.value)
  const regionId: string = '66'

  electionsPromise(regionId, value).then(val => {
    if (Object.hasOwn(val, 'errors')) {
      elections.errors.value = val.errors
      return
    }

    for (const item of val.data) {
      elections.errors.value = []
      vrnKomis = item.vrnkomis
      electionList.value.push({ value: item.vrn, title: item.name })
    }

    isInsertedUik.value = Boolean(electionList.value.length)
  })
}

emitter.on('onDecode', (data) => {
  isInsertedCandidates.value = data
})

function onSelectedElection (value) {
  isSelectedElection.value = true
}

/** Скрывает/показывает QR-код */
const toggleQrcode = (): void => {
  if (phone.value) {
    showQrcode.value = true
    isSucsess.value = false

    const vrnElectionModel = toRaw(elections.model.value) as Ref<string>
    const vrnElection: string = vrnElectionModel?.value

    console.log(vrnElection, vrnKomis)

    numTvd = comissionsPromise(vrnElection, vrnKomis).then(val => {
      if (Object.hasOwn(val, 'errors')) {
        candidates.errors.value = val.errors
        return
      }

      if (!val.data) {
        missingDataCandidates.value = true
        return
      }

      for (const item of val.data._embedded.tvdDtoList) {
        if (!item.selected) continue
        return item.numtvd
      }
    })

    candidatesPromise(vrnElection, numTvd).then(val => {
      if (Object.hasOwn(val, 'errors')) {
        candidates.errors.value = val.errors
        return
      }

      if (!val.data) {
        missingDataCandidates.value = true
        return
      }

      for (const item of val.data) {
        candidates.errors.value = []
        candidateList.value.push({ item })
      }
    })
  }
}

/** Формирует данные и осуществляет сохранение формы */
const onSubmitForm = (): void => {
  form.data = toRaw(qrcodeStore.qrdata)

  form.phone = phone.value
  form.data.uik_number = uikNumber.value
  form.data.candidate_list = toRaw(candidateList.value)

  try {
    if (!sendForm(form)) return

    isSucsess.value = true
    clearForm()
  } catch (err) {
    console.error(err)
  }
}

/** Очищает форму */
const clearForm = (): void => {
  qrcodeStore.qrdata = {} as QrCodeDataModel
  showQrcode.value = false
  candidateList.value = []
  isInsertedCandidates.value = false
}

/**
 * Осуществляет отправку данных протокола в микросервис
 * @param  {Form} form Данные формы
 */
const sendForm = async (form: Form) => {
  const response = await fetch(`${suffragia}/api/v1/protocols`, {
    method: 'POST',
    headers: { 'Content-Type': 'application/json', Accept: 'application/json' },
    mode: 'cors',
    body: JSON.stringify(form),
    cache: 'no-cache'
  })

  try {
    if (response.ok) return response.json()
  } catch (err) {
    throw new Error(`ошибка получения тела ответа: ${err}`)
  }
}

/**
 * Получает выборы на участке
 * @param {string} subjectId Идентификатор региона
 * @param {string} uik       Номер УИК
 */
const electionsPromise = async (subjectId: string, uik: string) => {
  const response = await fetch(`${suffragia}/api/v1/cec/elections?subject_id=${subjectId}&uik=${uik}`, {
    method: 'GET',
    headers: { 'Content-Type': 'application/json', Accept: 'application/json' },
    mode: 'cors',
    cache: 'no-cache'
  })

  try {
    if (response.ok) return await response.json()
  } catch (err) {
    throw new Error(`ошибка получения тела ответа: ${err}`)
  }
}

/**
 * Получает кандидатов на выборах
 * @param {string} vrnElection Идентификатор выборов
 */
const candidatesPromise = async (vrnElection: string, numtvd: Promise<number>) => {
  const response = await fetch(`${suffragia}/api/v1/cec/candidates?vrn_election=${vrnElection}&num_tvd=${await numTvd}`, {
    method: 'GET',
    headers: { 'Content-Type': 'application/json', Accept: 'application/json' },
    mode: 'cors',
    cache: 'no-cache'
  })

  try {
    if (response.ok) return await response.json()
  } catch (err) {
    throw new Error(`ошибка получения тела ответа: ${err}`)
  }
}

/**
 * Получает информацию о комиссиях
 * @param {string} vrnElection Идентификатор выборов
 * @param {string} vrnKomis Идентификатор комиссии
 */
const comissionsPromise = async (vrnElection: string, vrnKomis: string) => {
  const response = await fetch(`${suffragia}/api/v1/cec/comissions?vrn_election=${vrnElection}&vrn_komis=${vrnKomis}`, {
    method: 'GET',
    headers: { 'Content-Type': 'application/json', Accept: 'application/json' },
    mode: 'cors',
    cache: 'no-cache'
  })

  try {
    if (response.ok) return await response.json()
  } catch (err) {
    throw new Error(`ошибка получения тела ответа: ${err}`)
  }
}
</script>

<template>
  <v-alert
    v-if="isSucsess"
    type="success"
    density="comfortable"
    variant="tonal"
    transition="v-fab-transition"
    closable
    border
  >
    Результаты голосования отправлены.
  </v-alert>

  <v-form v-if="!isSucsess">
    <v-container>
      <!-- <v-row
        class="d-flex justify-center"
        no-gutters
      >
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="4"
          xl="3"
        >
          <AppAutomplete
            v-model="regions.model"
            :items="regions.items"
            placeholder="Субъект РФ"
            label="Выберите субъект РФ"
            @update:search="onSelectSubject"
          />
        </v-col>
      </v-row> -->

      <v-row
        class="d-flex justify-center"
        no-gutters
      >
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="4"
          xl="3"
        >
          <v-text-field
            v-model="uikNumber"
            v-debounce:1s="onSelectedUik"
            :debounce-events="['keydown']"
            placeholder="Номер УИК"
            type="text"
            label="Введите номер УИК"
            color="blue darken-3"
            variant="outlined"
            :error-messages="elections.errors.value"
            :append-inner-icon="elections.items.length ? '' : 'mdi-autorenew mdi-spin'"
          />
        </v-col>
      </v-row>

      <v-row
        v-if="isInsertedUik"
        class="d-flex justify-center"
        no-gutters
      >
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="4"
          xl="3"
        >
          <AppAutomplete
            v-model="elections.model"
            :debounce-events="'change'"
            :items="elections.items"
            placeholder="Выборы"
            label="Выберите выборы"
            @update:search="onSelectedElection"
          />
        </v-col>
      </v-row>

      <v-row
        v-if="isSelectedElection"
        class="d-flex justify-center"
        no-gutters
      >
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="4"
          xl="3"
        >
          <v-text-field
            v-model="phone"
            v-mask="`+7 (###) ##-##-###`"
            placeholder="+7 (###) ##-##-###"
            type="tel"
            label="Телефон"
            color="blue darken-3"
            clearable
            variant="outlined"
            append-icon="mdi-qrcode"
            @click:append="toggleQrcode()"
          />
        </v-col>
      </v-row>

      <v-row
        v-if="showQrcode"
        class="text-center mb-3"
      >
        <v-col>
          <qr-code-data-stream @qr-readed="onQrReaded()" />
        </v-col>
      </v-row>

      <v-row class="d-flex justify-center">
        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.date"
            v-model="qrcodeStore.qrdata.date"
            v-mask="`####-##-##`"
            placeholder="##.##.####"
            type="date"
            color="blue darken-3"
            variant="outlined"
            label="Дата"
            required
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.uik_id"
            v-model="qrcodeStore.qrdata.uik_id"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Идентификатор УИК"
            required
          />
        </v-col>
      </v-row>

      <v-row class="d-flex justify-center">
        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_voters"
            v-model="qrcodeStore.qrdata.num_voters"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число избирателей на момент окночания голосования"
            required
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_ballots"
            v-model="qrcodeStore.qrdata.num_ballots"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число бюллетеней, полученных УИК"
            required
          />
        </v-col>
      </v-row>

      <v-row class="d-flex justify-center">
        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_early_ballots"
            v-model="qrcodeStore.qrdata.num_early_ballots"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число бюллетеней для голования досрочно"
            required
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_ballots_outdoor"
            v-model="qrcodeStore.qrdata.num_ballots_outdoor"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число бюллетеней для голования в помещении"
            required
          />
        </v-col>
      </v-row>

      <v-row class="d-flex justify-center">
        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_ballots_indoor"
            v-model="qrcodeStore.qrdata.num_ballots_indoor"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число бюллетеней для голования вне помещения"
            required
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_destoy_ballots"
            v-model="qrcodeStore.qrdata.num_destoy_ballots"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число погашенных бюллетеней"
            required
          />
        </v-col>
      </v-row>

      <v-row class="d-flex justify-center">
        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_ballots_in_portable_boxes"
            v-model="qrcodeStore.qrdata.num_ballots_in_portable_boxes"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число бюллютенй в переносных ящиках"
            required
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_ballots_in_boxes"
            v-model="qrcodeStore.qrdata.num_ballots_in_boxes"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число бюллютенй в стационарных ящиках"
            required
          />
        </v-col>
      </v-row>

      <v-row class="d-flex justify-center">
        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_invalid_ballots"
            v-model="qrcodeStore.qrdata.num_invalid_ballots"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число недействительных бюллетеней"
            required
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_valid_ballots"
            v-model="qrcodeStore.qrdata.num_valid_ballots"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число действительных бюллетеней"
            required
          />
        </v-col>
      </v-row>

      <v-row class="d-flex justify-center">
        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_lost_ballots"
            v-model="qrcodeStore.qrdata.num_lost_ballots"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число утраченных бюллетеней"
            required
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <v-text-field
            v-show="qrcodeStore.qrdata.num_unaccounted_ballots"
            v-model="qrcodeStore.qrdata.num_unaccounted_ballots"
            type="text"
            min="1"
            color="blue darken-3"
            variant="outlined"
            label="Число неучтённых бюллетеней"
            required
          />
        </v-col>
      </v-row>

      <v-row
        v-if="isInsertedCandidates"
        justify="center"
      >
        <v-col
          cols="12"
          md="6"
        >
          <div class="text-h6 text-lg-h5 mb-8">
            Результаты голосования

            <div
              v-if="missingDataCandidates"
              class="mt-2 text-primary text-h6"
            >
              Остуствует информация о кандидатах
            </div>
          </div>

          <v-row
            v-for="(val, key) in candidates.items.value"
            :key="val.item.index"
          >
            <v-col
              cols="1"
              class="pr-0 mr-0"
            >
              {{ key+1 }}.
            </v-col>
            <v-col
              cols="8"
              class="pl-0 ml-0"
            >
              <span>{{ val.item.fio }}</span>
              <div class="text-caption">
                {{ val.item.namio }}
              </div>
            </v-col>
            <v-col class="pl-0 ml-0">
              <v-text-field
                v-model="val.item.votes"
                type="text"
                min="1"
                color="blue darken-3"
                variant="outlined"
                label="Голоса"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row class="d-flex justify-end">
        <v-col
          class="d-flex justify-end block"
          cols="6"
        >
          <v-btn
            v-show="qrcodeStore.qrdata.date"
            type="clear"
            @click.prevent="clearForm()"
          >
            Сбросить
          </v-btn>

          <v-btn
            v-show="qrcodeStore.qrdata.date"
            class="ml-5"
            color="secondary-darken-1"
            type="submit"
            @click.prevent="onSubmitForm()"
          >
            Отправить
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<style lang="scss" scoped>
</style>
