<script lang="ts" setup>
import { ref } from 'vue'
import type { Candidate } from '@/types/qrcode/DataModel'

type Сontender = {
  candidate: { item: Candidate },
  total_votes: Number,
}

/** Кол-во голосов за кандидатов */
const contenders = ref<Сontender[]>()

const suffragia = import.meta.env.VITE_DOMAIN_API

/**
 * Осуществляет запрос на получение суммы голосов за кандидатов
 */
const promiseProtocolsData = async () => {
  const response = await fetch(`${suffragia}/api/v1/totals?`, {
    method: 'GET',
    headers: { 'Content-Type': 'application/json', Accept: 'application/json' },
    mode: 'cors',
    cache: 'no-cache'
  })

  try {
    if (response.ok) {
      const json = await response.json()
      return json.data
    }
  } catch (err) {
    throw new Error(`ошибка получения тела ответа: ${err}`)
  }
}

promiseProtocolsData().then(val => {
  contenders.value = val
})

</script>

<template>
  <v-container class="page text-center">
    <v-row class="d-flex justify-center">
      <v-col
        cols="12"
        md="6"
      >
        <v-table>
          <thead>
            <tr>
              <th class="text-left">
                <strong>№</strong>
              </th>
              <th class="text-left">
                <strong>ФИО</strong>
              </th>
              <th class="text-left">
                <strong>Кол-во голосов</strong>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(contender, index) in contenders"
              :key="index"
              class="text-left"
            >
              <td>{{ index+1 }}</td>
              <td>
                {{ contender.candidate.item.fio }}

                <div class="text-caption">
                  {{ contender.candidate.item.namio }}
                </div>
              </td>
              <td>{{ contender.total_votes }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

