<script lang="ts" setup>
import { useQrcodeStore } from '@/stores/qrcode'
import type { QrCodeDataModel } from '@/types/qrcode/DataModel'
import type { QrCodeRegexpGroups } from '@/types/qrcode/RegexpGroups'
import { reactive, ref } from 'vue'
import { QrStream } from 'vue3-qr-reader'
import emitter from '@/plugins/mitt'

const state = reactive({
  data: null
})

const componentKey = ref(0)
const isVisible = ref(true)

/** Обновляет компонент */
const forceRerender = () => {
  componentKey.value += 1
  isVisible.value = false
}

/**
 * Событие декодирования QR-кода
 * @param {null} data Данные QR-кода
 */
const onDecode = async (data: null) => {
  state.data = data

  parsedQrData(state.data)
  forceRerender()

  emitter.emit('onDecode', true)
}

/**
 * Осуществляет разбор данных QR-кода
 * @param {string|null} data Данные QR-кода
 */
const parsedQrData = (data: string | null): boolean => {
  if (!data) return false

  const qrDataGroups: QrCodeRegexpGroups = {} as QrCodeRegexpGroups

  qrDataGroups.all = data.match(/(.*?)(?<=-)/gm)

  if (!qrDataGroups.all) return false

  const [generalInfo, , votingInfo, , ratingInfo] = qrDataGroups.all

  const result: QrCodeDataModel = {} as QrCodeDataModel

  qrDataGroups.general = generalInfo.match(/([^\\/]*)(?=\/)/g)

  if (!qrDataGroups.general) return false;

  [result.date, , result.uik_id] = qrDataGroups.general

  qrDataGroups.voting = votingInfo.match(/([^\\/:]*)(?=\/)/g)

  if (!qrDataGroups.voting) return false;

  [
    result.num_voters, , result.num_ballots, , result.num_early_ballots, , result.num_ballots_indoor, ,
    result.num_ballots_outdoor, , result.num_destoy_ballots, , result.num_ballots_in_portable_boxes, ,
    result.num_ballots_in_boxes, , result.num_invalid_ballots, , result.num_valid_ballots, ,
    result.num_lost_ballots, , result.num_unaccounted_ballots
  ] = qrDataGroups.voting

  const matchesRating = ratingInfo.matchAll(/([\d]+):([\d]+)\//g)

  if (!matchesRating) return false

  qrDataGroups.rating = [...matchesRating]

  result.candidate_rating = qrDataGroups.rating

  const store = useQrcodeStore()

  const dateVote = new Date(result.date.replace(/(\d{2})\.(\d{2})\.(\d{4})/, '$3-$2-$1'))

  if (dateVote instanceof Date) {
    result.date = dateVote.toISOString().split('T')[0]
  }

  store.setData(result)

  return true
}
</script>

<template>
  <v-layout
    v-show="isVisible"
    class="justify-center stream"
  >
    <qr-stream
      :key="componentKey"
      class="mb"
      @decode="onDecode"
    >
      <v-container class="frame" />
    </qr-stream>
  </v-layout>
</template>

<style lang="scss" scoped>
.stream {
  height: 200px;
  width: 200px;
  margin: auto;
}

.frame {
  border-style: solid;
  border-width: 2px;
  border-color: var(--v-theme-primary);
  height: 200px;
  width: 200px;
}

.qr-stream-wrapper,
.qr-stream-overlay {
  height: 200px;
  width: 200px;
}
</style>
