<template>
  <v-list
    nav
  >
    <v-list-item
      v-for="page in pages"
      :key="page.id"
      :value="page"
      active-color="primary"
      link
      :to="page.href"
    >
      <template #prepend>
        <v-icon
          :icon="page.icon"
          class="mr-2"
        />
      </template>

      <v-list-item-title>{{ page.title }}</v-list-item-title>
    </v-list-item>
  </v-list>
</template>

<script lang="ts" setup>
import { pages } from '@/services/Pages'
</script>
