<template>
  <v-app-bar
    app
    color="primary"
  >
    <template #prepend>
      <v-app-bar-nav-icon
        variant="text"
        @click.stop="drawer = !drawer"
      />
    </template>

    <v-app-bar-title>{{ $route.name }}</v-app-bar-title>

    <v-spacer />

    <!-- <template #append>
      <v-btn icon="mdi-qrcode" />

      <v-btn icon="mdi-dots-vertical" />
    </template> -->
  </v-app-bar>
  <v-navigation-drawer
    v-model="drawer"
    temporary
  >
    <v-list-item
      prepend-avatar="./logo.webp"
      title="Референдум"
      subtitle="Сервис учёта голосов"
      elevation="1"
      variant="tonal"
      href="/"
      class="py-3"
    />

    <v-divider />

    <app-navigation-list />
  </v-navigation-drawer>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import AppNavigationList from './AppNavigationList.vue'

const drawer = ref(false)
</script>
