<template>
  <v-app>
    <app-header />

    <app-main />
  </v-app>
</template>

<script lang="ts" setup>
import AppMain from '@/components/AppMain.vue'
import AppHeader from '@/components/header/AppNavigation.vue'
</script>

<stile lang="scss" scoped>
</stile>
